.InputfieldContent > .handsontable {
    /*max-height: 750px;*/
}

.handsontable .dragdealer .handle {
    background: #93bf0d;
}

.htContextMenu {
    font-size: 13px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.64);
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.64);
}
    .htContextMenu table.htCore {
          outline: 0;
    }

    .htContextMenu table tbody tr td.current {
        color: #FFF;
        background: #5E9ED7;
    }

.InputfieldJson table.htCore td {
    font-size: 15px;
    cursor: text;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #dddddd #dddddd #FFFFFF;
    background: #f7f9fa;
    letter-spacing: normal;
    padding: 2px 4.5px;
    line-height: 19.5px;
    height: 25px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.sticky table.htCore tbody tr:first-child td {
    font-weight: bold;
    color: #2f4248;
    background-color: #EAF0F2;
    //border-top-color: #BDC5C7;
    border-top-color: #d9e0e2;
    white-space: nowrap
}



.InputfieldJson table.htCore thead th {
    background: #2f4248;
    border-color: #5187a0 #202e33 #37525c #5187a0;
    color: #eaf0f2;
    font-weight: normal;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-align: left;    
}
.InputfieldJson table.htCore tbody tr:first-child td { border-top-color: #d7e2e6; }
.InputfieldJson table.htCore tr td:last-child { border-right-color: #D7E2E6; }
.InputfieldJson table.htCore tbody tr:last-child td { border-bottom-color: #DDDDDD; }
.InputfieldJson table.htCore tr td:first-child { border-left-color: #D7E2E6; }

/* selection */
    .wtBorder.current {
        background-color: #5E9ED7 !important;
    }

    .handsontableInputHolder {
        padding: 0 1px;
    }

    .htContextMenu table tbody tr td {
        font-size: 13px;
        color: #444;
    }

    .htContextMenu table tbody tr td.htSeparator {
        border-top: 1px solid #D7E2E6;
    }

.InputfieldJson .notes {
    background: transparent;
}
    .InputfieldJson .notes .right {
        float: right;
        margin: 0 0 0 10px;
    }
    .InputfieldJson .right em {
        font-style: normal;
    }
    .InputfieldJson .notes span {
        margin-right: 10px;
    }

    .InputfieldJson .superuser {
        float: left;
    }

    .delete-popup {
        position: fixed;
        width: 200px;
        height: 100px;
    }

    .delete-popup .padding {
        padding: 1em;

    }

    .ui-dialog {
        position: fixed !important;
        width: 100%;
        height: 100%;
    }


.FieldtypeJson_tip {
    font-weight: normal;
}